*{
    margin:0;
    padding:0;
}

.box{
    height: 100px;
    width:  100px;
    border: 3px solid black;
    margin-right: 5px;
}

#heading{
    text-align: center;
}

#container {
    height: 600px;
    width:  600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: lavender;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; 
    flex-direction: row;
    
}


#box1{ background-color:aqua;}
#box2{ background-color:blueviolet;}
#box3{ 
    background-color:yellow;
    align-self:flex-end;
    /* Many Variants of align-self */
}
#box4{ background-color:tomato;}